<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Bai2</display-name>
    <servlet-name>Bai2</servlet-name>
    <servlet-class>iuh.edu.fit.lab1.Bai2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bai2</servlet-name>
    <url-pattern>/Bai2</url-pattern>
  </servlet-mapping>
  <display-name>21081801_TranLeQuocBinh_Tuan01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Bai3</display-name>
    <servlet-name>Bai3</servlet-name>
    <servlet-class>iuh.edu.fit.lab1.Bai3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bai3</servlet-name>
    <url-pattern>/Bai3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bai4</display-name>
    <servlet-name>Bai4</servlet-name>
    <servlet-class>iuh.edu.fit.lab1.Bai4</servlet-class>
    <init-param>
      <param-name>ID</param-name>
      <param-value>21081801</param-value>
    </init-param>
    <init-param>
      <param-name>Name</param-name>
      <param-value>QuocBinh</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bai4</servlet-name>
    <url-pattern>/Bai4</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>UserName</param-name>
    <param-value>TranLeQuocBinh</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Bai4_2</display-name>
    <servlet-name>Bai4_2</servlet-name>
    <servlet-class>iuh.edu.fit.lab1.Bai4_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bai4_2</servlet-name>
    <url-pattern>/Bai4_2</url-pattern>
  </servlet-mapping>
</web-app>