<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>bai1.session.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>21081801_TranLeQuocBinh_Tuan02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthenticationFilter</display-name>
    <servlet-name>AuthenticationFilter</servlet-name>
    <servlet-class>bai1.filter.AuthenticationFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationFilter</servlet-name>
    <url-pattern>/AuthenticationFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>bai2.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>upload.path</param-name>
    <param-value>D:\FolderUpload</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UploadFileToDatabase</display-name>
    <servlet-name>UploadFileToDatabase</servlet-name>
    <servlet-class>bai3.UploadFileToDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileToDatabase</servlet-name>
    <url-pattern>/UploadFileToDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDBServlet</display-name>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>bai3.FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>bai3.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserJsonServlet</display-name>
    <servlet-name>UserJsonServlet</servlet-name>
    <servlet-class>bai4.servlets.UserJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserJsonServlet</servlet-name>
    <url-pattern>/UserJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonResource</display-name>
    <servlet-name>PersonResource</servlet-name>
    <servlet-class>bai5.restapi.PersonResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonResource</servlet-name>
    <url-pattern>/PersonResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailServlet</display-name>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>bai7.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/SendMailServlet</url-pattern>
  </servlet-mapping>
</web-app>